name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'  # 不指定版本，自动安装最新稳定版

      - name: Install dependencies
        run: |
          cd simple_live_app
          flutter pub get

      - name: Build Debug APK
        run: |
          cd simple_live_app
          flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-apk
          path: simple_live_app/build/app/outputs/flutter-apk/app-debug.apk
